/* General */
:root {
  box-sizing: border-box;

	--blue-10: #1c77ff;
  --blue-20: #0368ff;
  --blue-30: #005de8;
  --gray-10: #fcfcfc;
	--gray-20: #f4f4f4;
	--gray-30: #6d6d6d;
  --gray-40: #343434;
	}

  *, *::before, *::after {
    box-sizing: inherit;
  }
  
body {
    margin: 0;
    font-family: 'Manrope', sans-serif;
  }

a {
  text-decoration: none;
  color: var(--gray-40);
}

/* Text */
.blue__logo {
  color: var(--blue-20); /* часть текста логотипа -- синего цвета */
}

h1,
h2,
h3 {
  font-weight: 700;
  color: var(--gray-40);
}

h1 {
  font-size: 48px;
}

h2 {
  text-align: center;
  font-size: 32px;
}

h3 {
  font-size: 24px;
  }

.break__text {
  display: block;  /* перенос текста на новую строку */
}

h1, h2, h3, p {
  /* padding: 0;
  margin: 0; */
}

/* Container */
.container {
  max-width: 1440px;
  width: 100%; /* на любых экранах МЕНЬШЕ значения max-width содержимое будет занимать все доступное пространство */
  margin-inline: auto; 
}

  /* Header  */
.header__container {
  background: var(--gray-10);
  display: flex;
  flex-wrap: wrap;
  gap: 54.6%;
  justify-content: center; 
  align-items: center; 
  padding: 0 140px;
}

.header__logo {
  text-align: center;
  color: var(--gray-40);
  font-size: 24px;
  font-weight: 700;
}

.header__nav {
  display: flex;
  gap: 32px;
  font-size: 20px;
  font-weight: 500;
}

/* Cover  */
.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 620px;
  background: var(--gray-20);
}

.cover__head,
.cover__text {
  text-align: center;
}

.cover__head {
  max-width: 522px; /* ширина из Фигмы - чтобы текст был в 2 строки */
  margin-bottom: 24px;
}

.cover__text {
  color: var(--gray-30);
  max-width: 460px; /* ширина из Фигмы - чтобы текст был в 2 строки */
  margin-bottom: 48px;
}

.cover__button {
  background: var(--blue-20);
  color: var(--gray-10);
  width: 142px;
  height: 45px;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 500;
}

/* Services  */

/* класс .services для задания общего фона большого блока включающего 2 подблока */
.services {
  background: var(--gray-10);
}

/* классы для визуала и позиционирования двух подблоков Services */
.services__desc,
.prices {
  max-width: 1160px;
  margin-inline: auto;
  padding-top: 96px;
}

/* Общий класс: и для кнопок и для всех карточек(видимых и невидимых) */
.services__tabs {
  position: relative;
  text-align: center;
  margin: 48px 0 40px;  /* вставил сюда МОИ margin которые применял ранее в другом коде */
}

input, label {
  display: inline-block;
  margin-right: 28px;  /* взамен МОИХ прежних flex gap 28px, для кнопок */
  border-radius: 4px;
  }

.services__tabs input[type=radio] {
  display: none;  /* скрывает переключатели радиокнопок */
}

.services__tabs label {
  position: relative;
  z-index: 1;
  width: 210px;
  height: 38px;
  line-height: 38px;  /* Межстрочное расстояние = высоте кнопки label - это выравнивает текст по вертикали кнопки */
  color: var(--gray-10);
  background: var(--blue-20);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.switch {
  /* т.к. этот строчный span - дочерний блочного div .services__tabs 
  то свойство block для него уже не задается */
  position: absolute;
  top: 0;
  left: 50%;
  height: 38px;
  width: 210px;
  border: none;
  border-radius: 4px;
  transform: translateX(-360px); /* значение подобрано методом тыка */
  transition: transform .5s;
}

.services__tabs section {
  display: none;
  animation: scale .7s ease-in-out;
}

.services__tabs #tab1:checked~#content1,
.services__tabs #tab2:checked~#content2,
.services__tabs #tab3:checked~#content3 {
    display: flex;
    justify-content: center;
    margin: 48px 0 40px;
}

.services__tabs input[type=radio]:checked+label+.switch {
  background: var(--blue-20);
  color: var(--gray-10);
  /* фон и цвет текста нажатой(активной) кнопки */
}

.services__tabs input[type=radio]:not(:checked)+label {
  background: var(--gray-20);
  color: var(--gray-40);
    /* фон и цвет текста не нажатой(неактивной) кнопки */
}

.services__cards {
  display: flex;
  gap: 40px;
}

.services__card {
  text-align: left;
  width: 260px;
  background: var(--gray-10);
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

.services__head {
  width: 210px;
  padding: 5px 0 5px 20px;
  }

.services__text {
  color: var(--gray-30);
  margin-top: -20px;
  padding: 0 0 0 20px;
}

.services__link {
  display: block;  /* чтобы для ссылки действовали вертикальные padding */
  color: var(--blue-20);
  padding: 0 0 20px 20px;
}

/* Как выровнять иконку по центру вертикали ссылки - пока не знаю! */
/* img должен быть внутри а - потому что иконка тоже часть ссылки! */
/* Сделать div с классом например link и применить к нему флекс?
Потому что Devmode Pixso такой код показывает для этого frame! */

/* .link {
  display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 4px;
padding: 0;
} */

/* Prices of Services  */
.prices__table {
  margin-inline: auto;  /* выравнивание по центру родительского контейнера */
  padding-bottom: 130px;
  overflow-x: auto;  /* горизонт-скролл таблицы на маленьких экранах */
}

td {
  border-bottom: 1px solid var(--blue-20);
}

.prices__text {
  color: var(--gray-30);
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 22px;
  padding: 0 85px;

}

.prices__rur {
  color: var(--blue-20);
  font-size: 24px;
  font-weight: 700;
  text-align: right;
}
/* End of Services */

/* Contacts  */
.footer {
  background: var(--gray-20);
  }

.footer__head,
.footer__text {
  text-align: center;
}

.footer__head {
  font-size: 24px;
  font-weight: 700;
  color: var(--gray-40);
  padding: 72px 0 12px;
  margin: 0;  /* вроде как это решило проблему пустого белого зазора между блоком Services и футером  */
}

.footer__text {
  color: var(--gray-30);
  padding-bottom: 36px;
  }

  /* Состояния кнопки Связаться и ссылок меню */
  .cover__button:hover {
    background-color: var(--blue-10);
    cursor: pointer;
  }

  .cover__button:active {
    background-color: var(--blue-30);
    cursor: pointer;
  }

  a:hover {
    color: var(--blue-10);
    cursor: pointer;
  }

  a:active {
    color: var(--blue-30);
    cursor: pointer;
  }

  /* Кнопка Вверх, внизу страницы */
  .scroll-to-top {
    position: fixed;
    right: 10px;
    bottom: 0;
    cursor: pointer;
    z-index: 99;
    transition: all 0.3s ease-in-out;
  }
  .scroll-to-top:hover {
    transform: scale(1.1);
  }
  @media (max-width: 768px) {
    .scroll-to-top {
      right: 5px;
    }
  }
  .scroll-to-top svg {
    width: 60px;
    height: 60px;
    fill: var(--blue-20);
  }
  @media (max-width: 768px) {
    .scroll-to-top svg {
      width: 40px;
      height: 40px;
    }
  }


  /* MEDIA */

  @media (max-width: 1024px) {
    .services__cards {
      flex-wrap: wrap;
      justify-content: center;
    }
    label {
      margin-right: 14px; /* чтобы кнопки визуально были точно по центру */
    }
    .switch {
      transform: translateX(-339px); /* эта величина также зависит от значения вышеуказанного label */
    }
  }

  @media (max-width: 540px) {
    .header__nav {
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
      font-size: 16px;
    }
    .services__tabs {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px; 
    }
    label {
      margin-right: 0; /* чтобы кнопки визуально были точно по центру */
    }
    .switch {
      transform: translateX(-105px); /* эта величина также зависит от значения вышеуказанного label */
    }
  }

  @media (max-width: 380px) {
    .header__container {
      padding: 0 70px;
    }
  }
    
